<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About / COVID-19</title>
    <style>
body {
    background-image: url(/images/img\ 15.jpg);
}

    </style>
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="Corona.html">About</a>
        <a href="Cases.html">Cases</a>
        <a href="Contact.html">contact</a>
    </nav>
   <img src="images/img 6.jpg"> 

   <button onclick="newdate()">get date</button>

   <p id="naja"></p>
   <script>
       function newdate(){
           var today = date();
           document.getElementById('naj').innerHTML=today
       }
   </script>

</body>
</html>