<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cases / COID-19</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th {
            height: 50px;                
            text-align: center;
        }
        th, td {
            padding: 8p;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        tr:hover{background-color: #dddddd;}
        tr {
            text-align: center;
        }
        
        body {
            background-color: chartreuse;
        }
    </style>
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="Corona.html">About</a>
        <a href="Cases.html">Cases</a>
        <a href="Contact.html">contact</a>
    </nav>
    <table>
        <tr>
            <th>REGIONS</th>
            <th>CASES</th>
            <th>RECOVERED/DISCHARGED</th>
            <th>%RECOVERED/DISCHARGED</th>
            <th>ACTIVE</th>
        </tr>
        <tr>
            <td>GREATER ACCRA</td>
            <td>16426</td>
            <td>14587</td>
            <td>88.8</td>
            <td>1773</td>
        </tr>
        <tr>
            <td>ASHANTI</td>
            <td>7646</td>
            <td>6961</td>
            <td>91.0</td>
            <td>623</td>
        </tr>
        <tr>
            <td>EASTERN</td>
            <td>1214</td>
            <td>1132</td>
            <td>93.2</td>
            <td>76</td>
        </tr>
        <tr>
            <td>WESTERN </td>
            <td>546</td>
            <td>658</td>
            <td>89</td>
            <td>86</td>
        </tr>
            <tr>
                <td>WESTERN NORTH</td>
                <td>500</td>
                <td>200</td>
                <td>20</td>
                <td>15</td>
            </tr>
           <tr>
                <td>NORTHERN</td>
                <td>500</td>
                <td>30</td>
                <td>10</td>
                <td>1</td>
            </tr>
           <tr>
                <td>UPPER EAST</td>
                <td>100</td>
                <td>10</td>
                <td>15</td>
                <td>5</td>
           </tr>
           <tr>
               <td>UPPER WEST</td>
               <td>100</td>
               <td>50</td>
               <td>20</td>
               <td>10</td>
           </tr>
           <tr>
               <td>CENTRAL</td>
               <td>4677</td>
               <td>6788</td>
               <td>57687</td>
               <td>7667</td>
           </tr>
            <tr>
                <td>NORTH EAST</td>
                <td>200</td>
                <td>50</td>
                <td>30</td>
                <td>40</td>
            </tr>
            <tr>
                <td>BONO EAST</td>
                <td>55</td>
                <td>5667</td>
                <td>434</td>
                <td>565</td>
            </tr>
            <tr>
                <td>SAVANAH</td>
                <td>57</td>
                <td>56</td>
                <td>98.2</td>
                <td>1</td>
            </tr>
            <tr>
                <td>AHAFO</td>
                <td>116</td>
                <td>53</td>
                <td>45.7</td>
                <td>1</td>
            </tr>
            <tr>
                <td>BONO EAST</td>
                <td>426</td>
                <td>365</td>
                <td>85.7</td>
                <td>58</td>
            </tr>
            <tr>
                <td>OTI</td>
                <td>172</td>
                <td>129</td>
                <td>75.0</td>
                <td>42</td>
            </tr>
            <tr>
                <td>VOLTA</td>
                <td>573</td>
                <td>409</td>
                <td>71.4</td>
                <td>163</td>
            </tr>
            <tr>
                <td><b>TOTAL</b></td>
                <td>31851</td>
                <td>28,438</td>
                <td>89.3</td>
                <td>3252</td>
            </tr>
            
        </tr>

    </table>
</body>
</html>